<!--task_manager/templates/update.html-->
{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1 class="my-4">{% trans "Delete label" %}</h1>
  <p>
    {% trans "Are you sure you want to delete " %}
    <b>{{ label }}</b>?
  </p>
  <form method="post">
    {% csrf_token %}
    <input class="btn btn-danger"
           type="submit"
           value="{% trans 'Yes, delete' %}">
    <a class="btn btn-secondary" href="{% url 'labels:list' %}">{% trans "Cancel" %}</a>
  </form>
{% endblock %}
{% block footer %}
  {% include "partials/footer.html" %}
{% endblock %}
