<!--task_manager/templates/list.html-->
{% extends "base.html" %}
<!--{% load i18n %}-->
{% load crispy_forms_tags i18n %}
{% block content %}
  <h1 class="my-4">{% trans "Tasks" %}</h1>
  <a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}">{% trans "Create a task" %}</a>
  <div class="card mb-3">
    <div class="card-body bg-light">
      <form method="get">
        {% csrf_token %}
        {{ filter.form|crispy }}
        <button type="button" id="clear-labels" class="btn btn-secondary mb-3">Clear Labels</button>
        <br>
        <button type="submit" class="btn btn-primary">{% trans "Show" %}</button>
      </form>
    </div>
  </div>
  <!--    TODO: Add bootstrap utilities to control table columns width:-->
  <!--    w-10, w-20 or smth-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Author" %}</th>
        <th>{% trans "Executor" %}</th>
        <th>{% trans "Created" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.executor }}</td>
          <td>{{ task.created_at|date:"d.m.Y h:m" }}</td>
          <td>
            <a href="{% url 'tasks:update' task.id %}">{% trans "Edit" %}</a>
            <br>
            <a href="{% url 'tasks:delete' task.id %}">{% trans "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<!--TODO: Refactor this dirty JS hack with selected labels clearing button-->
{% block extra_js %}
  <script>
      document.getElementById('clear-labels').addEventListener('click', function() {
          const labelsSelect = document.getElementById('id_labels');
          if (!labelsSelect) return;

          for (let option of labelsSelect.options) {
              option.selected = false;
          }

          labelsSelect.dispatchEvent(new Event('change'));
      });
  </script>
{% endblock %}
