<!--task_manager/templates/delete.html-->
{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1 class="my-4">{% trans "Delete user" %}</h1>
  <p>{% trans "Are you sure you want to delete " %} {{ request.user.full_name }}?</p>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="confirm" value="true">
    <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
    <a href="{% url 'users:list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
  </form>
{% endblock %}
