<!--task_manager/templates/index.html-->
{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="container">
    <h1 class="my-4">Users</h1>
<!--    TODO: Add bootstrap utilities to control table columns width:-->
<!--    w-10, w-20 or smth-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Full name</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.full_name }}</td>
          <td>{{ user.date_joined|date:"d.m.Y h:m" }}</td>
          <td>
            <a href="{% url 'users:update' user.id %}">Edit</a>
          <br>
            <a href="{% url 'users:delete' user.id %}">Delete</a>
        </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
