{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="card mt-3">
    <div class="card-body p-5 bg-light">
      <h1 class="display-4">{% trans "Welcome to the Task manager" %}!</h1>
      <p class="lead">{% trans "Assign tasks and stay productive" %}!</p>
      <hr>
      <a class="btn btn-primary btn-lg"
         href="{% url request.user.is_authenticated|yesno:'tasks:list,login' %}">
        {% trans "Get started" %}
      </a>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% include "partials/footer.html" %}
{% endblock %}
