<!--task_manager/templates/index.html-->
{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-body p-5 bg-light">
        <h1 class="display-4">Привет от Хекслета!</h1>
        <p class="lead">Практические курсы по программированию</p>
        <hr>
        <!-- TODO: Убрать эту ссылку и вообще поменять содержимое-->
        <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">Узнать больше</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% include "partials/footer.html" %}
{% endblock %}
